[build]
  command = "npm run build"
  publish = ".output/public"

[build.environment]
  NODE_VERSION = "20"
  # Erhöht das RAM-Limit für den Node-Prozess (WICHTIG!)
  NODE_OPTIONS = "--max-old-space-size=4096"

[[redirects]]
  from = "https://www.velwebsolutions.de/*"
  to = "https://velwebsolutions.de/:splat"
  status = 301
  force = true

# API Fix: Keine Ziel-Zuweisung mit :splat, da Nitro dies intern regelt
[[redirects]]
  from = "/api/*"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://www.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' data: https://fonts.gstatic.com; img-src 'self' data: https://images.unsplash.com https://plus.unsplash.com; connect-src 'self' https://api.emailjs.com https://www.google.com/recaptcha/;"