name: Deploy-Now Build

on:
  push:
    branches:
      - main # oder dein entsprechender Branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Empfohlen f체r aktuelle Nuxt-Versionen

      - name: Build Node assets
        env:
          CI: true
          # Hier werden die GitHub Secrets in die Umgebung geladen
          NUXT_PUBLIC_EMAILJS_PUBLIC_KEY: ${{ secrets.NUXT_PUBLIC_EMAILJS_PUBLIC_KEY }}
          NUXT_PUBLIC_EMAILJS_SERVICE_ID: ${{ secrets.NUXT_PUBLIC_EMAILJS_SERVICE_ID }}
          NUXT_PUBLIC_EMAILJS_TEMPLATE_ID: ${{ secrets.NUXT_PUBLIC_EMAILJS_TEMPLATE_ID }}
          NUXT_PUBLIC_RECAPTCHA_SITE_KEY: ${{ secrets.NUXT_PUBLIC_RECAPTCHA_SITE_KEY }}
        run: |
          npm ci
          npm run build

      # Dieser Teil sorgt daf체r, dass IONOS die Dateien erh채lt (Workflow v2 Standard)
      - name: Upload production-ready build files
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: .output/public # Nuxt Standard f체r statische Generierung/Nitro