# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: dist,
  NUXT_PUBLIC_EMAILJS_PUBLIC_KEY: $NUXT_PUBLIC_EMAILJS_PUBLIC_KEY,
  NUXT_PUBLIC_EMAILJS_SERVICE_ID: $NUXT_PUBLIC_EMAILJS_SERVICE_ID,
  NUXT_PUBLIC_EMAILJS_TEMPLATE_ID: $NUXT_PUBLIC_EMAILJS_TEMPLATE_ID,
  NUXT_PUBLIC_RECAPTCHA_SITE_KEY: $NUXT_PUBLIC_RECAPTCHA_SITE_KEY

jobs:
# Please do not rename this job
  build-project:
    name: build velwebsolutions
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: v22.x

      - name: Build Node assets
        env:
          CI: true
          NODE_OPTIONS: --max-old-space-size=4096
          NODE_VERSION: 20
          SITE_URL: ${{ inputs.site-url }}
        run: |
          npm install
          npm run build

# Please do not touch the following action
      - name: Store deployment content
        uses: ionos-deploy-now/artifact-action@v1
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          service-host: api-eu.ionos.space
          project-id: ec049cb6-488f-4c75-a50b-4cc4edec4300
          branch-id: ${{ inputs.branch-id }}
          version: ${{ github.sha }}
          folder: ${{ env.DEPLOYMENT_FOLDER }}
          config-file: .deploy-now/velwebsolutions/config.yaml
          action: upload
